<footer class="footer_area">
    <div class="footer_widget_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>ABOUT US</h3>
                        </div>
                        <div class="f_about_widget">
                            <p>Vivamus nisi purus, luctus sit amet scelerisque volutpat, malesuada in quam. Morbi vehicula, ligula et consectetur dictum, lectus elit ultricies est, ut congue augue risus ac turpis.</p>
                            <img src="img/footer-logo-neno.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>E-NEWSLETTER</h3>
                        </div>
                        <div class="f_news_widget">
                            <p>Subscribe to our newsletter, we will send you about newest projects</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>NAVIGATION </h3>
                        </div>
                        <div class="f_navigation_widget">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Company</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Features</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Our Services</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Projects</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>CONTACT US</h3>
                        </div>
                        <div class="f_contact_widget">
                           <p>Lorem ipsum dolor sit amet, tollit adolescens duo ea, ne porro complectitur.</p>
                            <ul class="contact_lsit">
                                <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Santa Monica Boulevard Los Angeles</a></li>
                                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>(0464) 0123 45 67</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@pitreepress.com</a></li>
                            </ul>
                            <ul class="f_widget_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright_area">
        <div class="container">
            <div class="pull-left copyright_left">
                <h4>Pithree Press Template by <a href="https://themeforest.net/user/wethemez/portfolio">Tavilla Themes.</a></h4>
            </div>
            <div class="pull-right copyright_right">
                <h5>© 2009 - 2016 <a href="https://themeforest.net/user/wethemez/portfolio">Neon Press</a>. All rights reserved.</h5>
            </div>
        </div>
    </div>
</footer>