<footer class="footer_area">
    <div class="footer_widget_area">
        <a href="https://t.me/joinchat/U9osLhvEi8kakxnxKrEKbg"><img src="img/telegramlogo.png" alt="" style="width: 70px; position: fixed; left: 15px; bottom: 15px; z-index: 5;"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>ABOUT US</h3>
                        </div>
                        <div class="f_about_widget">
                            <p>We create the future. This is how we would define the main activity of the company. Cryptocurrency - in particular Bitcoin - is the future of the global financial market. And now we are engaged in the trading of one of the
                                most valuable resources, which allows us to get maximum profits today. Exchange trade in cryptocurrency is a way of converting opportunities into real money. We invite everyone to join us on the road to success and financial
                                independence.
                            </p>
                            <img src="img/footer-logo-neno.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>NAVIGATION </h3>
                        </div>
                        <div class="f_navigation_widget">
                            <ul>
                                <li><a href="index"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="about-us"><i class="fa fa-angle-right" aria-hidden="true"></i>About Company</a></li>
                                <li><a href="faq"><i class="fa fa-angle-right" aria-hidden="true"></i>Faq</a></li>
                                <li><a href="contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_widget_inner">
                        <div class="f_widget_tittle">
                            <h3>CONTACT US</h3>
                        </div>
                        <div class="f_contact_widget">
                            <p>Questions or issues? Support can help.</p>
                            <ul class="contact_lsit">

                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>helpdesk@bitcoinx-tradersupport.com</a></li>
                            </ul>
                            <ul class="f_widget_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>