<div id="preloader">
    <div id="preloader_1">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
     </div>
 </div>

 <!--==========Header Top area==========-->
 <div class="header_top">
     <div class="container">
         <div class="pull-left company_content">
             <h4>Most trusted investment company</h4>
         </div>
         <div class="pull-right header_language">
             <div class="selector" id="google_translate_element"></div>
             <ul class="header_social">
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                 <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
             </ul>
         </div>
     </div>
 </div>
 <!--==========End Header Top area==========-->
 
 <!--==========Logo area==========-->
 <div class="logo_area">
     <div class="container">
         <div class="pull-left logo_neno">
             <img src="img/logo.png" alt="">
            </div>
         <div class="pull-right contact_details_area">
             <div class="contact_item">
                 <div class="media">
                     <div class="media-left">
                         <i class="fa fa-phone"></i>
                     </div>
                     <div class="media-body">
                         <h4>PHONE</h4>
                         <h5>(0464) 0123 45 67</h5>
                     </div>
                 </div>
             </div>
             <div class="contact_item">
                 <div class="media">
                     <div class="media-left">
                         <i class="fa fa-envelope-o"></i>
                     </div>
                     <div class="media-body">
                         <h4>EMAIL</h4>
                         <h5>info@pithreepress.com</h5>
                     </div>
                 </div>
             </div>
             <div class="contact_item">
                 <div class="media">
                     <div class="media-left">
                         <i class="fa fa-clock-o"></i>
                     </div>
                     <div class="media-body">
                         <h4>OPENING TIME</h4>
                         <h5>Mon - Sat 8:00 - 19:00 </h5>
                     </div>
                 </div>
             </div>
             <a class="request_btn" href="#">Price Request </a>
         </div>
     </div>
 </div>
 <script src="js/theme.js"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
 <!--==========End Logo area==========-->
