<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bitcoinx Trader | About us</title>

    <link rel="icon" href="img/fav-icon.png" type="image/png">

    <!-- Font -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">


    <!-- Extra plugin css -->
    <link href="vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="vendors/image-dropdown/dd.css" rel="stylesheet">
    <link href="vendors/image-dropdown/skin2.css" rel="stylesheet">
    <link href="vendors/image-dropdown/dd.css" rel="stylesheet">
    <link href="vendors/camera-slider/camera.css" rel="stylesheet">
    <link href="vendors/animate/animate.min.css" rel="stylesheet">
    <link href="vendors/owl-carousel/css/owl.carousel.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
        .svgdiv img {
            width: 10%;
        }
    </style>
</head>

<body>

    <%- include("./partials/nav.ejs") %>
        <!--==========Menu area==========-->
        <div class="main_menu_area">
            <nav class="navbar navbar-default" style="color: #ffffff; background-color: #1b2027;">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index">HOME</a></li>
                            <li class="active"><a href="about-us">ABOUT COMPANY</a></li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">accounts</a>
                                <ul class="dropdown-menu">
                                    <li><a href="sign-up">register</a></li>
                                    <li><a href="login">login</a></li>
                                </ul>
                            </li>
                            <li><a href="affiliate">affiliate</a></li>
                            <li><a href="terms-and-conditions">terms and conditions</a></li>
                            <li><a href="payouts">paid</a></li>
                            <li><a href="faq">faq</a></li>
                            <li><a href="contact">contact</a></li>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <!--==========End Menu area==========-->

        <!--==========Banner area==========-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h4>About company</h4>
                    <a href="index">Home</a>
                    <span>/</span>
                    <a href="sign-up">Sign up</a>
                </div>
            </div>
        </section>
        <!--==========End Banner area==========-->

        <!--==========Global area==========-->
        <section class="global_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="global_content">
                            <div class="about_tittle">
                                <h2>About us</h2>
                            </div>
                            <p>Welcome to Bitcoinx trader! If you find yourself here, you are definitely in search of reliable and profitable investment. Yes, you are just at the right place! Our company offers trust assets management of the highest quality
                                on the basis of foreign exchange and profitable trade through Funds exchanges. There is no other worldwide financial market that can guarantee a Hourly ability to generate constant profit with the large price swings of
                                BitCoin and other crypto currencies. Proposed modalities for strengthening cooperation will be accepted by anyone who uses cryptocurrency and knows about its fantastic prospects. </p>
                            <p>Bitcoinx-trader.com investment project is a product of careful preparation and fruitful work of experts in the field of mining, highly profitable trade in cryptocurrencies and online marketing. Using modern methods of doing
                                business and a personal approach to each client, we offer a unique investment model to people who want to use cryptocurrencies not only as a method of payment, but also as a reliable source of stable income.</p>
                            <p>Your deposit is working on an ongoing basis, and makes profit every hour with the ability to withdraw profit. Your deposit is for life and irretrievable. This proposal would be interesting not only for beginners of cryptocurrency
                                operation, but also for experienced online investors. crestlineprofits.com Business uses only modern mining equipment and trades at the most stable markets, which minimizes the risk of financial loss to customers and guarantees
                                them a stable income accrued every 60 minutes. Join our company today and start making high profits!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="global_image">
                            <img src="img/global-1.jpeg" alt="">
                            <img src="img/global-2.jpg" alt="">
                        </div>
                    </div>
                </div>




                <div class="comm_tittle" style="margin-top: 60px">
                    <h4>Advantages of Our Company</h4>
                </div>
                <div class="container" style="margin-top: 30px">
                    <div class="row svgdiv">
                        <div class="col-md-6" style="margin-top: 15px">
                            <img src="img/svg/icon-about.svg" alt="icon-about" />
                            <div class="content">
                                <h4>24/7 Support</h4>
                                <p>
                                    Contact us in any convenient way and you will receive the necessary information.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top: 15px">
                            <img src="img/svg/icon-about2.svg" alt="icon-about" />
                            <div class="content">
                                <h4>Daily income</h4>
                                <p>
                                    Your deposit works for you exactly indefinitely, and accruals are made every day.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row svgdiv">
                        <div class="col-md-6" style="margin-top: 15px">
                            <img src="img/svg/reason-icon2.svg" alt="icon-about" />
                            <div class="content">
                                <h4>Security</h4>
                                <p>
                                    Your profits, deposits and transactions are displayed in your personal portfolio, you can access it from any device, and all your accounts are securely encrypted.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top: 15px">
                            <img src="img/svg/icon-about6.svg" alt="icon-about" />
                            <div class="content">
                                <h4>Professional team</h4>
                                <p>
                                    We have many years of experience working on stock exchanges and in the sphere of cryptocurrency – you can completely entrust your investments to us.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
            </div>
        </section>
        <!--==========End Global area==========-->

        <!--==========Awards area==========-->
        <section class="partner_area partner_area2">
            <div class="container">
                <div class="comm_tittle" style="margin-top: 40px; margin-bottom: 60px">
                    <h4>Our awards and recognition</h4>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner_img">
                            <img src="img/partner/partner-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner_img">
                            <img src="img/partner/partner-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner_img">
                            <img src="img/partner/partner-3.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner_img">
                            <img src="img/partner/partner-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner_img">
                            <img src="img/partner/partner-5.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner_img">
                            <img src="img/partner/partner-6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Our partner area==========-->
        <!--==========Footer area==========-->
        <%- include("./partials/footer.ejs") %>
            <!--==========End Footer area==========-->



            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery-2.2.0.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/bootstrap.min.js"></script>
            <!-- Extra plugin -->
            <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
            <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
            <script src="vendors/camera-slider/jquery.easing.1.3.js"></script>
            <script src="vendors/camera-slider/camera.min.js"></script>
            <script src="vendors/isotop/imagesloaded.pkgd.min.js"></script>
            <script src="vendors/isotop/isotope.pkgd.min.js"></script>
            <script src="vendors/owl-carousel/js/owl.carousel.min.js"></script>

            <script src="js/theme.js"></script>
</body>

</html>