<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Neon</title>

        <link rel="icon" href="img/fav-icon.png" type="image/png">
       
        <!-- Font -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
       
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        
        
        <!-- Extra plugin css -->
        <link href="vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="vendors/image-dropdown/dd.css" rel="stylesheet">
        <link href="vendors/image-dropdown/skin2.css" rel="stylesheet">
        <link href="vendors/image-dropdown/dd.css" rel="stylesheet">
        <link href="vendors/camera-slider/camera.css" rel="stylesheet">
        <link href="vendors/animate/animate.min.css" rel="stylesheet">
        <link href="vendors/owl-carousel/css/owl.carousel.css" rel="stylesheet">
        <link href="vendors/flex-slider/flexslider.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
       

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
       
       <div id="preloader">
           <div id="preloader_1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
       
        <!--==========Header Top area==========-->
        <div class="header_top">
            <div class="container">
                <div class="pull-left company_content">
                    <h4>Neon Press & Architecture Company</h4>
                </div>
                <div class="pull-right header_language">
                    <div class="selector">
                        <select name="countries" id="countries" style="width:300px;">
                          <option value='yt' data-image="img/aus-flag.jpg" data-imagecss="flag yt" data-title="English">English</option>
                          <option value='yu' data-image="img/bd-flag.jpg" data-imagecss="flag yu" data-title="Bangladesh">Bangladesh</option>
                          <option value='yt' data-image="img/aus-flag.jpg" data-imagecss="flag yt" data-title="English">English</option>
                          <option value='yu' data-image="img/bd-flag.jpg" data-imagecss="flag yu" data-title="Bangladesh">Bangladesh</option>
                        </select>
                    </div>
                    <ul class="header_social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==========End Header Top area==========-->
        
        <!--==========Logo area==========-->
        <div class="logo_area">
            <div class="container">
                <div class="pull-left logo_neno">
                    <img src="img/logo-neno.png" alt="">
                </div>
                <div class="pull-right contact_details_area">
                    <div class="contact_item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="media-body">
                                <h4>PHONE</h4>
                                <h5>(0464) 0123 45 67</h5>
                            </div>
                        </div>
                    </div>
                    <div class="contact_item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="media-body">
                                <h4>EMAIL</h4>
                                <h5>info@pithreepress.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="contact_item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="media-body">
                                <h4>OPENING TIME</h4>
                                <h5>Mon - Sat 8:00 - 19:00 </h5>
                            </div>
                        </div>
                    </div>
                    <a class="request_btn" href="#">Price Request </a>
                </div>
            </div>
        </div>
        <!--==========End Logo area==========-->
        
        <!--==========Menu area==========-->
        <div class="main_menu_area">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="index-2.html">Home - 02</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">ABOUT COMPANY</a></li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OUR SERVICES</a>
                                <ul class="dropdown-menu">
                                    <li><a href="service.html">Services</a></li>
                                    <li><a href="service-details.html">Service Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROJECTS</a>
                                <ul class="dropdown-menu">
                                    <li><a href="project.html">Projects</a></li>
                                    <li><a href="project-single.html">Project Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BLOGS</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="404.html">Error</a></li>
                            <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONTACT</a>
                                <ul class="dropdown-menu">
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact-2.html">Contact - 02</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="search_menu">
                            <li class="dropdown search_bar">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
                                <ul class="dropdown-menu">
                                    <li><input type="text" placeholder="Search for..."></li> 
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--==========End Menu area==========-->
        
        <!--==========Banner area==========-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h4>Our Blog</h4>
                    <a href="index.html">Home</a>
                    <span>/</span>
                    <a href="project.html">Blog</a>
                </div>
            </div>
        </section>
        <!--==========End Banner area==========-->
        
        <!--==========Blog area==========-->
        <section class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog_inner_area">
                            <div class="blog_item">
                                <div class="blog_slider_img">
                                    <div class="item">
                                        <img src="img/blog/blog-1.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="img/blog/blog-2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="img/blog/blog-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="blog_content">
                                    <a href="single-blog.html"><h3>Proin Imperdiet Quis Sem Commodo Porttitor Integer Imperdiet</h3></a>
                                    <a class="date_cmm" href="#">December 06, 2016 / Business, Company / 2 Comments</a>
                                    <p>Vivamus a viverra odio. Vestibulum sodales augue at ante tempus, at porttitor sapien sollicitudin. Ut varius tempor eros sed porta. Vestibulum rutrum, ex a elementum condimentum, lectus ligula congue dolor, non aliquam ipsum ante ut justo. Donec accumsan dictum mi in fermentum. Nulla vestibulum dui sed dolor volutpat eleifend.</p>
                                    <a class="b_readmore" href="single.blog.html">Read More</a>
                                </div>
                            </div>
                            <div class="blog_item">
                                <div class="blog_img">
                                    <img src="img/blog/blog-1.jpg" alt="">
                                </div>
                                <div class="blog_content">
                                    <a href="single-blog.html"><h3>Proin Imperdiet Quis Sem Commodo Porttitor Integer Imperdiet</h3></a>
                                    <a class="date_cmm" href="#">December 06, 2016 / Business, Company / 2 Comments</a>
                                    <p>Vivamus a viverra odio. Vestibulum sodales augue at ante tempus, at porttitor sapien sollicitudin. Ut varius tempor eros sed porta. Vestibulum rutrum, ex a elementum condimentum, lectus ligula congue dolor, non aliquam ipsum ante ut justo. Donec accumsan dictum mi in fermentum. Nulla vestibulum dui sed dolor volutpat eleifend.</p>
                                    <a class="b_readmore" href="single.blog.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="right_sidebar_widget">
                            <div class="single_widget search_widget">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="single_widget categori_widget">
                                <div class="widget_tittle">
                                    <h3>Categories</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Constructio Management</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Architecture Design</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Building Painting</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Laminate Floring</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Roof Construction</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Building Repair</a></li>
                                </ul>
                            </div>
                            <div class="single_widget post_widget">
                                <div class="widget_tittle">
                                    <h3>Recent Post</h3>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4>Working principle, how do we work?</h4></a>
                                        <a href="#">December 06, 2016</a>
                                        <span>/</span>
                                        <a href="#">2 Comments</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4>We're doing business with pleasure</h4></a>
                                        <a href="#">December 06, 2016</a>
                                        <span>/</span>
                                        <a href="#">2 Comments</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4>Your ideas are very important to us</h4></a>
                                        <a href="#">December 06, 2016</a>
                                        <span>/</span>
                                        <a href="#">2 Comments</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4>Best Transportation of 2016</h4></a>
                                        <a href="#">December 06, 2016</a>
                                        <span>/</span>
                                        <a href="#">2 Comments</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_widget categori_widget archives">
                                <div class="widget_tittle">
                                    <h3>Archives</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>January</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>February</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>March</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>April</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Blog area==========-->
        
        <!--==========Footer area==========-->
        <footer class="footer_area">
            <div class="footer_widget_area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer_widget_inner">
                                <div class="f_widget_tittle">
                                    <h3>ABOUT US</h3>
                                </div>
                                <div class="f_about_widget">
                                    <p>Vivamus nisi purus, luctus sit amet scelerisque volutpat, malesuada in quam. Morbi vehicula, ligula et consectetur dictum, lectus elit ultricies est, ut congue augue risus ac turpis.</p>
                                    <img src="img/footer-logo-neno.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer_widget_inner">
                                <div class="f_widget_tittle">
                                    <h3>E-NEWSLETTER</h3>
                                </div>
                                <div class="f_news_widget">
                                    <p>Subscribe to our newsletter, we will send you about newest projects</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer_widget_inner">
                                <div class="f_widget_tittle">
                                    <h3>NAVIGATION </h3>
                                </div>
                                <div class="f_navigation_widget">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Company</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Features</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Our Services</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Projects</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer_widget_inner">
                                <div class="f_widget_tittle">
                                    <h3>CONTACT US</h3>
                                </div>
                                <div class="f_contact_widget">
                                   <p>Lorem ipsum dolor sit amet, tollit adolescens duo ea, ne porro complectitur.</p>
                                    <ul class="contact_lsit">
                                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Santa Monica Boulevard Los Angeles</a></li>
                                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>(0464) 0123 45 67</a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@pitreepress.com</a></li>
                                    </ul>
                                    <ul class="f_widget_social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copyright_area">
                <div class="container">
                    <div class="pull-left copyright_left">
                        <h4>Pithree Press Template by <a href="https://themeforest.net/user/wethemez/portfolio">Tavilla Themes.</a></h4>
                    </div>
                    <div class="pull-right copyright_right">
                        <h5>© 2009 - 2016 <a href="https://themeforest.net/user/wethemez/portfolio">Neon Press</a>. All rights reserved.</h5>
                    </div>
                </div>
            </div>
        </footer>
        <!--==========End Footer area==========-->
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-2.2.0.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Extra plugin -->
        <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
        <script src="vendors/camera-slider/jquery.easing.1.3.js"></script>
        <script src="vendors/camera-slider/camera.min.js"></script>
        <script src="vendors/isotop/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotop/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/js/owl.carousel.min.js"></script>
        <script src="vendors/flex-slider/jquery.flexslider-min.js"></script>
        
        <script src="js/theme.js"></script>
    </body>
</html>