<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Bitcoinx trader | Terms and conditions</title>

        <link rel="icon" href="img/fav-icon.png" type="image/png">
       
        <!-- Font -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
       
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        
        
        <!-- Extra plugin css -->
        <link href="vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="vendors/image-dropdown/dd.css" rel="stylesheet">
        <link href="vendors/image-dropdown/skin2.css" rel="stylesheet">
        <link href="vendors/image-dropdown/dd.css" rel="stylesheet">
        <link href="vendors/camera-slider/camera.css" rel="stylesheet">
        <link href="vendors/animate/animate.min.css" rel="stylesheet">
        <link href="vendors/owl-carousel/css/owl.carousel.css" rel="stylesheet">
        <link href="vendors/flex-slider/flexslider.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
       

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
       
        <%- include("./partials/nav.ejs") %>  
        
        <!--==========Menu area==========-->
        <div class="main_menu_area">
                <nav class="navbar navbar-default">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ><a href="index">HOME</a></li>
                                    <li ><a href="about-us">ABOUT COMPANY</a></li>
                                    <li class="dropdown submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">accounts</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="sign-up">register</a></li>
                                            <li><a href="login">login</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="affiliate">affiliate</a></li>
                                    <li class="active"><a href="terms-and-conditions">terms and conditions</a></li>
                                    <li ><a href="payouts">paid</a></li>
                                    <li ><a href="faq">faq</a></li>
                                    <li ><a href="contact">contact</a></li>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
        </div>
        <!--==========End Menu area==========-->
        
        <!--==========Banner area==========-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h4>T&C</h4>
                    <a href="index.html">Home</a>
                    <span>/</span>
                    <a href="project.html">Sign up</a>
                </div>
            </div>
        </section>
        <!--==========End Banner area==========-->
        
        <!--==========Project info area==========-->
        <section class="project_info_area">
            <div class="container">
                <div class="more_project_details">
                    <div class="info_tittle">
                        <h4> Alphaprime.cash User Agreement Last Updated: November 6, 2018</h4>
                    </div>
                    <p><strong>This is an agreement between Alphaprime.cash., its affiliates and
                        subsidiaries (collectively referred to herein as “Alphaprime”, “we”, “us”,
                        or “our”) and you (together with Alphaprime, the “Parties” and each a
                        “Party”). By using any Alphaprime service, whether through Alphaprime.cash,
                        any associated website, API, (collectively, “Services”), you agree that you
                        have read, understood, and accept all of the terms and conditions contained
                        herein (the “User Agreement”), as well as our Privacy Policy located at <a
                            href="https://alphaprime.cash/" target="_blank"
                            rel="nofollow noopener noreferrer">https://alphaprime.cash/</a>, and
                        Cookie Policy, located at <a
                            href="https://alphaprime.cash/">https://alphaprime.cash/cookies</a></strong>
                </p>
                <div>
                    <h5><strong>THIS AGREEMENT CONTAINS AN ARBITRATION PROVISION. YOU AGREE AND
                            UNDERSTAND THAT IF WE CANNOT RESOLVE A DISPUTE THROUGH OUR USER
                            OPERATIONS TEAM, ALL DISPUTES ARISING UNDER THIS USER AGREEMENT SHALL BE
                            SETTLED IN BINDING ARBITRATION. YOU ALSO AGREE AND UNDERSTAND THAT
                            ENTERING INTO THIS AGREEMENT CONSTITUTES A WAIVER OF YOUR RIGHT TO A
                            TRIAL BY JURY AND PARTICIPATION IN A CLASS ACTION LAWSUIT.</strong></h5>
                    <p></p>
                    <h4><strong>1. GENERAL USE</strong></h4>
                    <p><strong>1.1 <i>Eligibility</i></strong>. <strong>By entering into this User
                            Agreement, you affirm that you are an individual, at least 18 years of
                            age or older, have the capacity to enter into this User Agreement and
                            agree to be legally bound by the terms and conditions of this User
                            Agreement, including the Cookie Policy and the Privacy Policy as
                            incorporated herein, as amended from time to time. In order to use
                            Services provided by <a href="https://alphaprime.cash/">Alphaprime,</a>
                            you may be required to provide certain identifying information pursuant
                            to our know-your-customer and anti-money laundering compliance program
                            (“Compliance Program”).</strong></p>
                    <p><strong>1.2 <i>Modification</i></strong></p>
                    <p><strong>1.2.1 We may change the terms of this User Agreement at any time. Any
                            such changes will take effect when posted on the Alphaprime website, or
                            when you use the Services. If you have supplied us with an email
                            address, we will also attempt to notify you by email of changes to this
                            User Agreement.</strong></p>
                    <p><strong>1.2.2 It is your responsibility to update your contact information,
                            including but not limited to the email address provided to us (if any);
                            failure to do so may result in you not receiving notice of any such
                            changes to the User Agreement.</strong></p>
                    <p><strong>1.2.3 Read the User Agreement carefully on each occasion you use the
                            Services. Your continued use of the Services shall signify your
                            acceptance to be bound by the current User Agreement. Our failure or
                            delay in enforcing or partially enforcing any provision of this User
                            Agreement shall not be construed as a waiver of any</strong></p>
                    <p><strong> </strong></p>
                    <div>
                        <h4><strong>2. DEFINITIONS</strong></h4>
                        <p><strong>2.1 <i>&#8220;API&#8221;</i> means application programming
                                interface, and is not a Service, as defined below.</strong></p>
                        <p><strong>2.2 <i>&#8220;Fork&#8221;</i> means a change to the underlying
                                protocol of a Virtual Currency network that results in more than one
                                version of a Virtual Currency, the result of which may be one or
                                more versions that are not supported by Alphaprime.</strong></p>
                        <p><strong>2.3 <i>&#8220;Service&#8221;</i> means one or more features
                                provided or operated by Alphaprime via website (mobile, desktop, or
                                otherwise), including but not limited to: (a) a Investment service
                                consisting of software that permits you to self-custody virtual
                                currency, organize network investment, view investment history and
                                transact in virtual currencies (the “Wallet”), (b) a noncustodial
                                conversion service that allows you to invest one virtual currency
                                for another (“Investment Service”); (c) third party investment
                                services that allow you to invest one virtual currency for another
                                (“Third Party Conversion Service”); and (d) the AI Advance
                                Program.</strong></p>
                        <p><strong>2.4 <i>&#8220;Investment/Trading Account&#8221;</i> means an
                                account for Services associated with both (i) an investment and (ii)
                                a verified identity approved in accordance with Alphaprime&#8217;s
                                Compliance Program. A Wallet is not, by itself, a User
                                Account.</strong></p>
                        <p><strong>2.5 <i>&#8220;Virtual Currency&#8221;</i> means a cryptocurrency,
                                digital currency, digital asset, cryptoasset or other such similar
                                term describing, for example, Bitcoin or Ether but does not include
                                a derivative of a virtual currency or a security.</strong></p>
                    </div>
                    <div>
                        <h4><strong>3. APPLICABLE LAW</strong></h4>
                        <p><strong>Your relationship with Alphaprime and use of any of the Services
                                may be subject to the laws, regulations, and rules of governmental
                                or regulatory authorities in your or our jurisdiction (“Applicable
                                Law”). By entering into this User Agreement, you agree to act in
                                compliance with and be legally bound to any and all Applicable Law.
                                <span> The Initial Deposit and the Basic fee (when received by
                                    Alphaprime) shall be non-refundable (except as expressly set
                                    forth in the Contract), and shall be held, credited and
                                    disbursed in the same manner as provided in the Contract with
                                    respect to the investment Deposit.</span></strong></p>
                    </div>
                    <h4><em><strong>4.GENERAL RISK FACTORS</strong></em></h4>
                    <p><strong>4.1 You agree and understand that there are risks associated with
                            utilizing Services involving Virtual Currencies including, but not
                            limited to, the risk of failure of hardware, software and internet
                            connections, the risk of malicious software introduction, and the risk
                            that third parties may obtain unauthorized access to information stored
                            within our server, including, but not limited to your public and private
                            information provided. You agree and understand that Alphaprime will not
                            be responsible for any communication failures, disruptions, errors,
                            distortions or delays you may experience when using the Services,
                            however caused.</strong></p>
                    <p><strong>4.2 You accept and acknowledge that there are risks associated with
                            utilizing any virtual currency network, including, but not limited to,
                            the risk of unknown vulnerabilities in or unanticipated changes to the
                            network protocol. You acknowledge and accept that Alphaprime has no
                            control over any cryptocurrency network and will not be responsible for
                            any harm occurring as a result of such risks, including, but not limited
                            to, the inability to reverse a transaction, and any losses in connection
                            therewith due to erroneous or fraudulent actions.</strong></p>
                    <p><strong>4.3 The risk of loss in using Services involving Virtual Currencies
                            may be substantial and losses may occur over a short period of time. In
                            addition, price and liquidity are subject to significant fluctuations
                            that may be unpredictable.</strong></p>
                    <p><strong>4.4 Virtual Currencies are not legal tender and are not backed by any
                            sovereign government. In addition, the legislative and regulatory
                            landscape around Virtual Currencies is constantly changing and may
                            affect your ability to use, transfer, or exchange Virtual
                            Currencies.</strong></p>
                    <div>
                        <h4><em><strong>5. GENERAL PROVISIONS</strong></em></h4>
                        <p><strong>5.1 <i>Intellectual Property.</i></strong></p>
                        <p><strong>5.1.1 Unless otherwise indicated by us, all intellectual property
                                rights and any content provided in connection with our Services, are
                                the property of Alphaprime or our licensors or suppliers and are
                                protected by applicable intellectual property laws. We do not give
                                any implied license for the use of the contents of the
                                Services.</strong></p>
                        <p><strong>5.1.2 You accept and acknowledge that the material and content
                                contained through our Services is made available for your personal,
                                lawful, non-commercial use only and that you may only use such
                                material and content for the purpose of using the Services.</strong>
                        </p>
                        <p><strong>5.1.3 You further acknowledge that any other use of content from
                                the Services is strictly prohibited and you agree not to infringe or
                                enable others to infringe our intellectual property rights. You
                                agree to retain all copyrighted and other proprietary notices
                                contained in the material provided via our Services on any copy you
                                make of the material but failing to do so shall not prejudice
                                Alphaprime&#8217;s intellectual property rights therein.</strong>
                        </p>
                        <p><strong>5.1.4 You may not sell or modify materials derived or created
                                from our Services or reproduce, display, publicly perform,
                                distribute or otherwise use the materials in any way for any public
                                or commercial purpose. Your use of the materials on any other
                                website or on a file-sharing or similar service for any purpose is
                                strictly prohibited. You may not copy any material or content
                                derived or created from our Services without our express, written
                                permission.</strong></p>
                        <p><strong>5.1.5 Any rights not expressly granted herein to use the
                                materials contained on or through our Services are reserved by
                                Alphaprime in full.</strong></p>
                        <p><strong>5.2 <i>Accuracy of Information.</i></strong></p>
                        <p><strong>5.2.1 We will use reasonable efforts to verify the accuracy of
                                any information displayed, supplied, passing through or originating
                                from the Services, but such information may not always be accurate
                                or current. Accordingly, you should independently verify all
                                information before relying on it, and any decisions or actions taken
                                based upon such information are your sole responsibility.</strong>
                        </p>
                        <p><strong>5.2.2 You agree and understand that we make no representation or
                                warranty of any kind, express or implied, statutory or otherwise,
                                regarding the contents of the Services, information and functions
                                made accessible through the Services, any hyperlinks to third party
                                websites, or the security associated with the transmission of
                                information through the Services, or any website linked to the
                                Services.</strong></p>
                        <p><strong>5.3 <i>Third Party Services and Content.</i></strong></p>
                        <p><strong>5.3.1 In using the Services, you may view content or services
                                provided by third parties, including links to web pages and services
                                of such parties (“Third Party Content”). We do not control, endorse
                                or adopt any Third Party Content and have no responsibility for
                                Third Party Content including, without limitation, material that may
                                be misleading, incomplete, erroneous, offensive, indecent or
                                otherwise objectionable in your jurisdiction. In addition, your
                                dealings or correspondence with such third parties are solely
                                between you and the third party.</strong></p>
                        <p><strong>5.3.2 You agree and understand that we are not responsible or
                                liable for any loss or damage of any sort incurred as a result of
                                any such dealings and your use of Third Party Content is at your own
                                risk.</strong></p>
                        <p><strong>5.4 <i>Cooperation with Law Enforcement</i>. Alphaprime may, from
                                time-to-time, respond to requests from law enforcement, regulators
                                and policymakers by producing certain information about or relating
                                to your use of the Services.</strong></p>
                        <p><strong>5.5 <i>Recordkeeping</i>. You agree and understand that,
                                depending on the Services used by you, Alphaprime reserves the
                                right, in our sole discretion, to create and maintain certain
                                records of your activity and communications relating to your User
                                Account.<br />5.6 FEES: Alphaprime does not charge investors any
                                form of Tax, Aml, Kyc or Commission fee. All investors are required
                                to pay only the basic fee for their investment portfolio. </strong>
                        </p>
                    </div>
                    <div>
                        <h4><strong>6. FEEDBACK, COMPLAINTS, AND DISPUTE RESOLUTION</strong></h4>
                        <p><strong><i>6.1 Feedback</i>.</strong></p>
                        <p><strong>6.1.1 Alphaprime strives to improve its Services to address
                                feedback. If you have ideas or suggestions regarding improvements or
                                additions to the Services, we would like to hear them; however, any
                                submission will be subject to this User Agreement.</strong></p>
                        <p><strong>6.1.2 Under no circumstances will disclosure of any idea or
                                feedback, or any related material to Alphaprime be subject to any
                                obligation of confidentiality or expectation of
                                compensation.</strong></p>
                        <p><strong>6.1.3 By submitting an idea or feedback or any related material
                                that would be subject to intellectual property rights (the “Work”)
                                to Alphaprime, you grant to Alphapime, with respect to the Work
                                submitted, a non-exclusive, perpetual, global, royalty-free license
                                to use all of the content of such ideas and feedback, for any
                                purpose whatsoever.</strong></p>
                        <p><strong>6.1.4 Furthermore, by submitting any such idea or feedback, you
                                are waiving any moral rights to the fullest extent permitted under
                                law that you may have in the Work and are representing and
                                warranting to Alphaprime that the Work originated with you, no one
                                else has any rights in the Work, and that Alphaprime is free of any
                                royalty to implement the Work and to use the related material if so
                                desired, as provided or modified by Alphaprime, without obtaining
                                permission or license from any third party.</strong></p>
                        <p><strong>6.1.5 You further accept that Alphaprime may sub-license in any
                                way all Work and material you have submitted to Alphaprime.</strong>
                        </p>
                        <p><strong>6.2 <i>Technical Support and Dispute Resolution</i></strong></p>
                        <p><strong>6.2.1 <i><u>Technical Support</u></i>. We will use
                                commercially-reasonable efforts to supply email-based technical
                                support services, but cannot guarantee immediate responses,
                                especially during times of high volume.</strong></p>
                        <p><strong>6.2.2 <u>Disputes</u>. You agree and understand that any dispute
                                arising under this User Agreement shall be settled in binding
                                arbitration, in accordance with the American Arbitration
                                Association’s rules.</strong></p>
                        <p><strong>6.2.2.1 <i>Arbitration</i>. The arbitration will be conducted by
                                a single, neutral arbitrator and shall take place in the county in
                                which you reside, or another mutually agreeable location, in the
                                English language. The arbitrator may award any relief that a court
                                of competent jurisdiction could award, including attorneys&#8217;
                                fees when authorized by law, and the arbitration decision may be
                                enforced in any court. You agree that the arbitrator shall have the
                                authority to order relief, and you agree to abide by all decisions
                                and awards rendered in such a proceeding, which shall be final and
                                conclusive. At your request, hearings may be conducted in person or
                                by telephone and the arbitrator may provide for submitting and
                                determining motions on briefs, without oral hearings. The prevailing
                                party in any action or proceeding to enforce this agreement shall be
                                entitled to reasonable costs and attorneys&#8217; fees.</strong></p>
                        <p><strong>6.2.2.2 If the arbitrator(s) or administrator imposes filing fees
                                or other administrative costs on you, we will reimburse you, upon
                                request, to the extent such fees or costs would exceed those that
                                you would otherwise have to pay if you were proceeding instead in a
                                court. If a court decides that any provision of this section
                                concerning Arbitration is invalid or unenforceable, that provision
                                shall be severed and resolved in accordance with EU law exclusively
                                and the other parts of this section concerning Arbitration shall
                                still apply. In no case shall the remainder of this User Agreement
                                be affected. If the invalidity or unenforceability of a provision
                                causes a dispute to proceed in a court instead of arbitration, the
                                Parties agree that such court must be located in EU, applying EU
                                law.</strong></p>
                        <p><strong>6.2.3 <i><u>No Trial by Jury</u></i>. You agree and understand
                                that by entering into this User Agreement, you expressly waive your
                                right to a trial by jury and right to participate in a class action
                                lawsuit.</strong></p>
                    </div>
                    <div>
                        <h4><strong>7. REPRESENTATIONS AND WARRANTIES, INDEMNIFICATION, AND
                                LIMITATION OF LIABILITY</strong></h4>
                        <p><strong>7.1 <i>Acceptable Use of Alphaprime Services</i>. When accessing
                                or using the Services, you agree that you are solely responsible for
                                your conduct while accessing and using our Services. Without
                                limiting the generality of the foregoing, you agree that you will
                                not:</strong></p>
                        <ul>
                            <li><strong>(a) Use the Services in any manner that could interfere
                                    with, disrupt, negatively affect or inhibit other users from
                                    fully enjoying the Services, or that could damage, disable,
                                    overburden or impair the functioning of our Services in any
                                    manner;</strong></li>
                            <li><strong>(b) Use the Services to pay for, support or otherwise engage
                                    in any illegal activities, including, but not limited to illegal
                                    gambling, fraud, money laundering, or terrorist
                                    activities;</strong></li>
                            <li><strong>(c) Use any robot, spider, crawler, scraper or other
                                    automated means or interface not provided by us to access our
                                    Services or to extract data;</strong></li>
                            <li><strong>(d) Use or attempt to use another investor&#8217;s details
                                    or credentials without authorization;</strong></li>
                            <li><strong>(e) Attempt to circumvent any content filtering techniques
                                    we employ, or attempt to access any service or area of our
                                    Services that you are not authorized to access;</strong></li>
                            <li><strong>(f) Introduce to the Services any virus, Trojan, worms,logic
                                    bombs or other harmful material;</strong></li>
                            <li><strong>(g) Develop any third-party applications that interact with
                                    our Services without our prior written consent;</strong></li>
                            <li><strong>(h) Provide false, inaccurate, or misleading information;
                                    or</strong></li>
                            <li><strong>(i) Encourage or induce any other person to engage in any of
                                    the activities prohibited under this Section.</strong></li>
                        </ul>
                        <p><strong>7.2 <i>Disclaimer of Warranties</i>.</strong></p>
                        <p><strong>7.2.1 THE ALPHAPRIME SERVICES ARE PROVIDED ON AN &#8220;AS
                                IS&#8221; AND &#8220;AS AVAILABLE&#8221; BASIS WITHOUT ANY
                                REPRESENTATION OR WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY.
                                TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE SPECIFICALLY
                                DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS
                                FOR A PARTICULAR PURPOSE AND/OR NON-INFRINGEMENT. WE DO NOT MAKE ANY
                                REPRESENTATIONS OR WARRANTIES THAT ACCESS TO THE SERVICES WILL BE
                                CONTINUOUS, UNINTERRUPTED, TIMELY, OR ERROR-FREE.</strong></p>
                        <p><strong>7.2.2 We make no warranty that Services are free of viruses or
                                errors, that its content is accurate, that it will be uninterrupted,
                                or that defects will be corrected. We will not be responsible or
                                liable to you for any loss of any kind, from action taken, or taken
                                in reliance on material, or information, contained on or through our
                                Services.</strong></p>
                        <p><strong>7.3 <i>Limitation of Liability</i>.</strong></p>
                        <p><strong>7.3.1 IN NO EVENT SHALL ALPHAPRIME, ITS AFFILIATES AND SERVICE
                                PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS,
                                EMPLOYEES OR REPRESENTATIVES, BE LIABLE FOR: (A) ANY AMOUNT GREATER
                                THAN THE VALUE OF THE VIRTUAL CURRENCY ACTUALLY DELIVERED TO US BY
                                YOU OR BY YOU TO US IN CONNECTION WITH A SUPPORTED
                                INVESTMENT/TRADING SERVICE TRANSACTION COMPLETED ON ITS DISPLAYED
                                TERMS OVER THE LAST SIX MONTHS, VALUED AT THE TIME OF THE
                                TRANSACTION; OR (B) FOR ANY LOST PROFITS OR ANY SPECIAL, INCIDENTAL,
                                INDIRECT, INTANGIBLE, OR CONSEQUENTIAL DAMAGES, WHETHER BASED IN
                                CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE, ARISING
                                OUT OF OR IN CONNECTION WITH AUTHORIZED OR UNAUTHORIZED USE OF THE
                                SERVICES, OR THIS AGREEMENT, EVEN IF AN AUTHORIZED REPRESENTATIVE OF
                                ALPHAPRIME HAS BEEN ADVISED OF, KNEW OF, OR SHOULD HAVE KNOWN OF THE
                                POSSIBILITY OF SUCH DAMAGES. FOR EXAMPLE (AND WITHOUT LIMITING THE
                                SCOPE OF THE PRECEDING SENTENCE), YOU MAY NOT RECOVER FOR LOST
                                PROFITS, LOST BUSINESS OPPORTUNITIES, OR OTHER TYPES OF SPECIAL,
                                INCIDENTAL, INDIRECT, INTANGIBLE, OR CONSEQUENTIAL DAMAGES. SOME
                                JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL
                                OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO
                                YOU.</strong></p>
                        <p><strong>7.3.2 UNDER NO CIRCUMSTANCES WILL WE BE REQUIRED TO DELIVER TO
                                YOU ANY VIRTUAL CURRENCY AS DAMAGES, SPECIFIC PERFORMANCE OR ANY
                                OTHER REMEDY. IF YOU WOULD BASE YOUR CALCULATIONS OF DAMAGES IN ANY
                                WAY ON THE VALUE OF VIRTUAL CURRENCY, YOU AND WE AGREE THAT THE
                                CALCULATION WILL BE BASED ON THE LOWEST VALUE OF THE VIRTUAL
                                CURRENCY DURING THE PERIOD BETWEEN THE ACCRUAL OF THE CLAIM AND THE
                                AWARD OF DAMAGES.</strong></p>
                        <p><strong>7.3.3 We will not be responsible or liable to you for any loss
                                and take no responsibility for damages or claims arising in whole or
                                in part, directly or indirectly from: (a) user error such as ,
                                incorrectly constructed transactions, or mistyped Virtual Currency
                                addresses; (b) server failure or data loss; (c) corrupted or
                                otherwise non-performing investments; (d) unauthorized access to
                                applications; (e) any unauthorized activities, including without
                                limitation the use of hacking, viruses, phishing, brute forcing or
                                other means of attack against the Services.</strong></p>
                        <p><strong><i>7.4 Indemnification</i>.</strong></p>
                        <p><strong>7.4.1 You agree to indemnify and hold harmless Alphaprime, its
                                affiliates, subsidiaries, directors, managers, members, officers,
                                and employees from any and all claims, demands, actions, damages,
                                losses, costs or expenses, including without limitation, reasonable
                                legal fees, arising out of or relating to your or any other person’s
                                use of your credentials or User Account in connection with: (a) use
                                of the Services; (b) breach of this User Agreement or any other
                                policy; (c) feedback or submissions you provide; or (d) violation of
                                any rights of any other person or entity; provided however, that you
                                shall not indemnify Alphaprime for claims or losses arising out of
                                Alphaprime&#8217;s gross negligence or willful misconduct. This
                                indemnity shall apply to your successors and assigns and will
                                survive any termination or cancellation of this User
                                Agreement.</strong></p>
                        <p><strong>7.4.2 Any and all of our indemnities, warranties, and limitations
                                of liability (whether express or implied) are hereby excluded to the
                                fullest extent permitted under law except as set forth herein. We
                                will not be liable, in contract, or tort (including, without
                                limitation, negligence), other than where we have been fraudulent or
                                made knowing misrepresentations. Nothing in this User Agreement
                                excludes or limits liability which may not be limited or excluded
                                under law.</strong></p>
                    </div>
                    <div>
                        <h4><strong>8. MISCELLANEOUS</strong></h4>
                        <p><strong>8.1 <i>Force Majeure</i>. If by reason in whole or in part of any
                                Force Majeure Event, either you or Alphaprime is delayed or
                                prevented from complying with this User Agreement, then such delay
                                or non-compliance shall not be deemed to be a breach of this User
                                Agreement and no loss or damage shall be claimed by you or
                                Alphaprime by reason thereof. “Force Majeure Event” means any event
                                beyond Alphaprime&#8217;s reasonable control, including, but not
                                limited to, flood, extraordinary weather conditions, earthquake, or
                                other act of God, fire, war, insurrection, riot, labor dispute,
                                accident, action of government, communications, power failure, or
                                equipment or software malfunction including network splits or
                                “forks” or unexpected changes in a computer network upon which the
                                Services rely.</strong></p>
                        <p><strong>8.2 <i>Taxes</i>. It is your responsibility to determine what, if
                                any, taxes apply due to your use of Alphaprime Services, and it is
                                your responsibility to report and remit the correct tax to the
                                appropriate tax authority. You agree that Alphaprime is not
                                responsible for determining whether taxes apply to your Virtual
                                Currency transactions or for collecting, reporting, withholding or
                                remitting any taxes arising from any virtual currency transactions.
                            </strong></p>
                        <p><strong>8.3 <i>Governing Law</i>. This User Agreement shall be governed
                                by and construed in accordance with Luxembourg Law, without regard
                                to principles of conflict of laws. Nothing in this User Agreement
                                shall be deemed to affect your statutory rights under Luxembourg
                                law.</strong></p>
                        <p><strong>8.4 <i>Severability</i>. If any part of this User Agreement is
                                held to be invalid or unenforceable in whole or in part, the
                                validity or enforceability of the other sections of this User
                                Agreement shall not be affected. Any headings contained in this User
                                Agreement are for informational purposes only and are not
                                enforceable provisions of this User Agreement.</strong></p>
                        <p><strong>8.5 <i>Assignment</i>. This User Agreement shall be binding on
                                your successors, heirs, personal representatives, and assigns. You
                                may not assign or transfer any of your rights or obligations under
                                this User Agreement without prior written consent of Alphaprime,
                                which may be withheld in Alphaprime&#8217;s sole discretion. We may
                                assign rights or delegate duties under this User Agreement to an
                                affiliate or subsidiary in our sole discretion.</strong></p>
                        <p><strong>8.6 <i>Relationship of the Parties</i>. Nothing in this User
                                Agreement is intended to, nor shall create any partnership, joint
                                venture, agency, consultancy or trusteeship. You and Alphaprime are
                                independent contractors for purposes of this User
                                Agreement.</strong></p>
                        <p><strong>8.7 <i>Entire Agreement</i>. This User Agreement constitutes the
                                entire agreement among the Parties with respect to the subject
                                matter described herein and shall supersede all prior agreements and
                                understandings, written or oral, among the Parties. Subsequent
                                discussions or negotiations between you and Alphaprime will only
                                become part of this User Agreement by way of a written amendment
                                specifically referencing the date and name of this User
                                Agreement.</strong></p>
                    </div>
                    <p><strong> </strong></p>
                </div>
            </div>
        </section>
        <!--==========End Project info area==========-->
        
        <!--==========Footer area==========-->
        <%- include("./partials/footer.ejs") %>
        <!--==========End Footer area==========-->
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-2.2.0.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Extra plugin -->
        <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <script src="vendors/image-dropdown/jquery.dd.min.js"></script>
        <script src="vendors/camera-slider/jquery.easing.1.3.js"></script>
        <script src="vendors/camera-slider/camera.min.js"></script>
        <script src="vendors/isotop/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotop/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/js/owl.carousel.min.js"></script>
        <script src="vendors/flex-slider/jquery.flexslider-min.js"></script>
        
        <script src="js/theme.js"></script>
    </body>
</html>